*{
    font-family: 'Open Sans', sans-serif;
}

#text_area{
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
header{
    order: 1;
}
header ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0px;
}
header ul li{
    padding: 5px;
}
aside{
    order: 2;
}
aside li{
    list-style-type: square;
}
main{
    order: 3;
}
footer{
    order: 4;
    text-align: center;
}