*{
    font-family: 'Open Sans', sans-serif;
}

#text_area{
    font-family: 'Roboto Mono', monospace;
}
aside{
    display: flex;
    flex-direction: column;
}
body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}