*{
    font-family: 'Open Sans', sans-serif;
}
#text_area{
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
/* header{
    order: 1;
} */
header ul{
    list-style-type: none;
    display: flex;
    justify-content: right;
    margin: 0px;
    padding: 0px;
}
header ul li{
    padding: 5px;
}
/* aside{
    order: 2;
} */
aside li{
    list-style-type: square;
}

main{
    /* order: 3; */
    display: grid;
}
.top_buttons{
    display: flex;
    justify-content: space-between;
    padding: 0em 0.5em 1em;
}
.bottom_buttons{
    display: flex;
    justify-content: right;
    padding: 1em 0em 1em 1em;
}
#save{
    margin-right: 1%;
}

footer{
    /* order: 4; */
    text-align: center;
}
@media screen and (min-width:600px) {
    body{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-auto-rows: max-content;
    }
    aside{
        order:1 ;
        grid-column: 1/2;
        grid-row: 1/-1;
    }
}